# 忽略 DS_Store
.DS_Store

# 忽略 .pyc 
*.pyc

# 忽略 __pycache__/
__pycache__/

# 忽略 my.cnf 文件
experiment/my_blog/blog_ment/database_conf/my.cnf

# 忽略 blog_ment.performance.log 文件
experiment/my_blog/blog_ment/blog_ment.performance.log

# 忽略测试文件test_pages.py
experiment/my_blog/blog_ment/test_pages.py

# 忽略本地启动脚本
experiment/my_blog/blog_ment/start_local.sh

# 忽略本地运行环境
**/ll_env/

