@media only screen and (max-width: 768px) {
    /* 在手机屏幕上隐藏特定ID的项 */
    #tech, #current, #finance, #read, #scenery, #products {
        display: none; 
    }

    .nav {
        margin: 3% 4%;
    }

    #category-six {
        display: block; /* 显示下拉菜单 */
    }
    .navbar-nav {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-around;
    }
    .navbar-brand {
        width: 35%;
        margin: 0;
    }
    .nav-item {
        flex-grow: 1;
        text-align: center;
    }
    .btn {
        display: inline-block;
        width: auto;
    }
    .dropdown-menu {
        background-color: transparent;
    }
}

@media only screen and (min-width: 769px) {
    /* 在电脑屏幕上显示所有导航项 */
    #tech, #current, #finance, #read, #scenery, #products {
        display: block; 
    }

    #category-six {
        display: none; /* 在电脑屏幕上隐藏分类下拉菜单 */
    }

    .dropdown-menu {
        background-color: #696969;
    }
}

.dropdown-menu {
    width: auto;
    padding: 0;
    border: none;
}

.dropdown-menu .btn {
width: 100%; /* 按钮宽度填满菜单 */
color: white; /* 调整文字颜色 */
border-radius: 0; /* 去掉按钮圆角 */
}